{
    "parser": "php",
    "plugins": [
        "@prettier/plugin-php"
    ],
    "overrides": [
        {
            "files": "*.blade.php",
            "options": {
                "parser": "html"
            }
        }
    ]
}